/node_modules
/public/hot
!/storage
/storage/*
!storage/app
storage/app/*
!/storage/app/public
/storage/app/public/*
!/storage/app/public/vite
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/*