/node_modules
/public/*
/public/storage
/storage/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/*
public/resources/templates/provision/*
public/app/provision/upload*
public/envinfo.ini
.stfolder
.stignore
modules_statuses.json
app/provision/
/app/provision/
app/provision/.gitkeep
